* {
    box-sizing: border-box;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}
.child1 {
    width: 25%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    background-color: #363;
    border: 1px solid #fff;
    border-radius: 10px;
}
.child2 {
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    background-color: #1028;
    border: 1px solid #fff;
    border-radius: 10px;
}
.child3 {
    width: 16.66%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    background-color: #851;
    border: 1px solid #fff;
    border-radius: 10px;
}
